html {
  scroll-behavior: smooth;
}

.screen,.screen .main-container {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  row-gap: 3vh;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
/*

@media (max-width: 768px) {
  .resizeable {
      transform: scale(0.8);
  }
}
*/

.resizeable {
  transform-origin: center;  
  overflow: visible;  
  transition: transform 0.3s ease-in-out;  
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 90%;

}


@media (min-width: 1200px) {
  .resizeable {
      width: 80% !important;
  }
  .screen .main-container{
    row-gap: 20vh;
  }
  .screen .process {
    margin-left: -5vw !important; 
  }
}





.screen .navbar {
  width: 90%;
  height: 1.74vw;
  top: 1vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.screen .navbar-sections {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 3vw;
  text-align: center;
  margin-left: 7.5vw;
}

.screen .navbar-section {
  font-family: "Actay-Regular", Helvetica;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.screen .navbar-section:hover {
  text-decoration: underline;
}

.screen .navbar-contact {
  font-family: "Actay-Regular", Helvetica;
  color: #ffffff;
  font-size: 1.8vw;
  letter-spacing: 0;
  line-height: normal;
  margin-left: auto;
}

.screen .navbar-contact a {
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke: 0.01vw #ffffff;
}


.screen .heading {
  display: block;

  flex: 1 1 auto;
  position: relative;
  width: 89.58vw;
  height: 37.79vw;
}

.screen .about {

  display: flex;
  flex-direction: row;
  justify-content: left;
  row-gap: 10vh;
  position: relative;
}

.info-text {
  font-weight: 400;
  font-size: var(---font-size);
  font-family: var(---font-family);
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.info-text p {
  margin: 0;
  font-size: 2vw;
}

.info-text .info-heading {
  font-family: "DaMiOne-Regular", Helvetica;
}

.screen .image-boy {
  position: absolute;
  width: 22.43vw;
  height: 22.43vw;
  left: 2vw;
  bottom: 1vh;
}

.screen .image-girl {
  position: absolute;
  width: 22.43vw;
  height: 22.43vw;
  top: 0.62vw;
  right: 0.62vw;
}

.about-text-wrapper,
.services-text-wrapper,
.process-text-wrapper {
  top: 0;
  left: 0;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
  overflow-wrap: break-word;
}


.screen .avatars {
  display: block;
  position: relative;
  width: 100vw;
  height: 48.61vw
}


.screen .services {


  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 4vh;
  position: relative;


}

.services .scheme {
  display: block;
  position: relative;
  width: 100vw;
  min-height: 48.61vw
}

.scheme .block {
  position: relative;
  width: 86.25vw;
  height: 62.01vw;

  left: 0;
}

.services .button-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen .process {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4vh;
  position: relative;

}

.screen .process-heading {
  width: 90%;


  display: flex;
  flex-direction: row;
  justify-content: left;
  row-gap: 4vh;
  position: relative;
  align-self: center;


}


.process .block {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 4vh;
  position: relative;
  align-items: center;
}

.process-element {

  flex: 1 1 auto;

  display: flex;
  width: 100%;
  align-self: center;
  position: relative;
  flex-direction: row;
  justify-content: left;

}

.screen .process-number {
  position: absolute;
  width: 25.07vw;
  height: 11.81vw;
  top: 7.43vw;
  left: 0;
}

.screen .top-separator-yellow {
  position: relative;
  width: 100vw;
  height: 25.49vw;
  top: 0.42vw;
  left: 0;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(204, 245, 29), rgb(0, 0, 0)) 1;
}

.screen .bottom-separator-yellow {
  position: absolute;
  width: 100%;
  height: 25.49vw;
  top: 0;
  left: 0;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  border-color: transparent;
  filter: blur(0.69vw);
  border-image: linear-gradient(to bottom, rgb(204, 245, 29), rgb(0, 0, 0)) 1;
}

.screen .top-separator-blue {
  position: absolrelativeute;
  width: 100vw;
  height: 25.49vw;
  top: 0.42vw;
  left: 0;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(152, 93, 245), rgb(0, 0, 0)) 1;
}

.screen .bottom-separator-blue {
  position: absolute;
  width: 100vw;
  height: 25.49vw;
  top: 0;
  left: 0;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  border-color: transparent;
  filter: blur(0.69vw);
  border-image: linear-gradient(to bottom, rgb(152, 93, 245), rgb(0, 0, 0)) 1;
}


.screen .middle-separator {
  position: absolute;
  width: 0.07vw;
  height: 25.42vw;
  top: 0.49vw;
  left: 31.81vw;
  object-fit: cover;
}

.process-description-block {

  position: absolute;
  top: 4.58vw;
  left: 41.94vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;

  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
  overflow-wrap: break-word;

}

.process-description-text-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1.6vw;

}


.screen .portfolio {



  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  row-gap: 2vh;
  position: relative;


}

.portfolio .block {
  flex: 1 1 auto;
  position: relative;


  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 4vh;
  position: relative;

  /*width: 42.57vw;
  height: 65.07vw;*/


  font-family: var(--1-font-family);
  font-weight: var(--1-font-weight);
  color: #ffffff;
  font-size: var(--1-font-size);
  letter-spacing: var(--1-letter-spacing);
  line-height: var(--1-line-height);
  font-style: var(--1-font-style);
}

.portfolio .block .row {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
}

.portfolio .portfolio-element {
  display: flex;
  flex-direction: column;
  /*height: 65.07vw;*/
  width: 42.57vw;
  row-gap: 4vw;
  text-align: center;
}

.screen .show-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  align-self: center;
  width: 50%;
}



.screen .advantages {

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4vh;
  position: relative;


}

.button-1 {
  display: inline-flex;
  width: 24.86vw;
  height: 6.25vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.69vw;

  background-color: #985df5;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.button-1:hover {
  background-color: #985df5;
  border-color: white;
  box-shadow: 0.2vw 0.2vw 0.4vw rgba(255, 255, 255, 0.7);
}

.button-2 {
  width: 24.86vw;
  height: 6.25vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.69vw;
  padding: 1.39vw 2.78vw;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  border-color: #985df5;
  flex: 0 0 auto;
  align-self: center;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  font-size: 1.8vw;
}

.button-2:hover {
  background-color: #985df5;
  border-color: white;
  box-shadow: 0.2vw 0.2vw 0.4vw rgba(255, 255, 255, 0.7);
}

.show-button a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** дальше ебаная генерация ******************************************/




.screen .image-wrapper {
  position: relative;
  width: 12.36vw;
  height: 12.36vw;
  top: 2.43vw;
  left: 58vw;
  opacity: 0.8;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------11@2x.png);
  background-size: 100% 100%;
}

.screen .right-top-blur {
  background-color: #985df5cc;
  border-radius: 15.35vw;
  filter: blur(55.56vw);
  ;
  height: 30.69vw;
  right: 0vw;
  position: absolute;
  top: 0;
  width: 30.69vw;
}

.screen .left-blur {
  position: absolute;
  width: 30.69vw;
  height: 30.69vw;
  top: 8.26vw;
  left: 0;
  background-color: #985df5cc;
  border-radius: 15.35vw;
  filter: blur(55.56vw);
  opacity: 0.8;
}

.screen .image {
  position: absolute;
  width: 6.18vw;
  height: 7.99vw;
  top: 2.5vw;
  left: 3.33vw;
}

.screen .overlap-wrapper {

  width: 89.58vw;
  height: 37.79vw;
  top: 0;
  left: 0;
}



.screen .overlap-group-wrapper {
  position: absolute;
  width: 49.72vw;
  height: 17.85vw;
  top: 0;
  left: 0;
}

.screen .overlap-group-2 {
  position: relative;
  width: 49.31vw;
  height: 17.85vw;
  top: -0.21vw;
  left: -0.21vw;
}

.neon-text {
  letter-spacing: 0;
  line-height: normal;
  font-size: 11.11vw;
  font-family: "Rimma-Sans-Bold", Helvetica;
  font-weight: 700;
  white-space: nowrap;
}

.screen .text-wrapper {
  position: absolute;
  width: 48.4vw;
  top: 1.94vw;
  left: 0.49vw;
  transform: rotate(4.62deg);
  -webkit-text-stroke: 0.21vw #ccf51d;
  filter: blur(1.04vw);

  color: #000000;



}

.screen .text-wrapper-2 {
  position: absolute;
  width: 45.42vw;
  top: 2.92vw;
  left: 0.42vw;
  transform: rotate(4.62deg);
  text-shadow: 0.62vw 0.62vw 1.04vw #00000040;
  -webkit-text-stroke: 0.21vw #ccf51d;
  color: #000000;

}

.screen .text-wrapper-3 {
  position: absolute;
  width: 45.42vw;
  top: 3.54vw;
  left: 0.42vw;
  transform: rotate(4.62deg);
  text-shadow: 0.62vw 0.62vw 1.04vw #00000040;
  -webkit-text-stroke: 0.21vw #ccf51d;

  color: #000000;

}

.screen .div-wrapper {
  position: absolute;
  width: 11.6vw;
  height: 14.44vw;
  top: 13.96vw;
  left: 38.06vw;
  transform: rotate(-3.24deg);
}

.screen .overlap-3 {
  position: relative;
  width: 11.18vw;
  height: 14.44vw;
  top: -0.21vw;
  left: -0.21vw;
}

.screen .text-wrapper-4 {
  position: absolute;
  width: 9.44vw;
  top: 0.35vw;
  left: 1.25vw;
  transform: rotate(4.63deg);
  -webkit-text-stroke: 0.21vw #ccf51d;
  filter: blur(0.69vw);

  color: #000000;

}

.screen .text-wrapper-5 {
  position: absolute;
  width: 8.82vw;
  top: 0.9vw;
  left: 0.69vw;
  transform: rotate(4.63deg);
  -webkit-text-stroke: 0.21vw #ccf51d;

  color: #000000;

}

.screen .text-wrapper-6 {
  position: absolute;
  width: 8.82vw;
  top: 1.6vw;
  left: 0.49vw;
  transform: rotate(4.63deg);
  -webkit-text-stroke: 0.21vw #ccf51d;

  color: #000000;

}

.screen .view-3 {
  position: absolute;
  width: 46.94vw;
  height: 17.92vw;
  top: 22.78vw;
  left: 41.39vw;
  transform: rotate(-10.41deg);
}

.screen .overlap-4 {
  position: relative;
  width: 46.53vw;
  height: 17.92vw;
  top: -0.21vw;
  left: -0.21vw;
}

.screen .text-wrapper-7 {
  position: absolute;
  width: 45.62vw;
  top: 1.81vw;
  left: 0.49vw;
  transform: rotate(4.62deg);
  -webkit-text-stroke: 0.21vw #ccf51d;
  filter: blur(1.04vw);

  color: #000000;

}

.screen .text-wrapper-8 {
  position: absolute;
  width: 42.78vw;
  top: 3.12vw;
  left: 1.6vw;
  transform: rotate(4.62deg);
  text-shadow: 0.62vw 0.62vw 1.04vw #00000040;
  -webkit-text-stroke: 0.21vw #ccf51d;

  color: #000000;
  font-size: 10.42vw;

}

.screen .text-wrapper-9 {
  position: absolute;
  width: 42.78vw;
  top: 3.75vw;
  left: 1.46vw;
  transform: rotate(4.62deg);
  text-shadow: 0.62vw 0.62vw 1.04vw #00000040;
  -webkit-text-stroke: 0.21vw #ccf51d;

  color: #000000;
  font-size: 10.42vw;
}

.screen .text-wrapper-10 {
  position: absolute;
  width: 20.76vw;
  top: 22.08vw;
  left: 56.74vw;
  transform: rotate(-5.87deg);
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 2.92vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .div-wrapper-2 {
  display: flex;
  width: 24.86vw;
  height: 6.25vw;
  align-items: center;
  justify-content: center;
  gap: 0.69vw;
  padding: 1.74vw 3.47vw;
  position: absolute;
  top: 26.74vw;
  left: 8.75vw;
  background-color: #985df5;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.div-wrapper-2:hover {
  background-color: #985df5;
  border-color: white;
  box-shadow: 0.2vw 0.2vw 0.4vw rgba(255, 255, 255, 0.7);
}

.screen .text-wrapper-11 {
  position: absolute;
  width: fit-content;
  margin-top: -0.14vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
  cursor: pointer;
}

.screen .view-4 {
  position: absolute;
  width: 86.18vw;
  height: 2.36vw;
  top: 0;
  left: 0;
}

.screen .overlap-5 {
  position: relative;
  width: 86.32vw;
  height: 2.36vw;
}

.screen .view-5 {
  position: absolute;
  width: 86.32vw;
  height: 2.36vw;
  top: 0;
  left: 0;
}

.screen .social-icons {
  position: absolute;
  width: 1.11vw;
  height: 2.36vw;
  top: 0;
  left: 7.01vw;
}

.screen .icon-set {
  position: relative;
  height: 2.36vw;
}

.screen .view-wrapper {
  position: absolute;
  width: 0.9vw;
  height: 2.36vw;
  top: 0;
  left: 0.21vw;
}

.screen .icon-img-1 {
  position: absolute;
  width: 0.28vw;
  height: 1.88vw;
  top: 0.49vw;
  left: 0;
}

.screen .icon-img-2 {
  position: absolute;
  width: 0.28vw;
  height: 0.28vw;
  top: 0;
  left: 0;
}


.screen .icon-img-3 {
  position: absolute;
  width: 0.28vw;
  height: 0.28vw;
  top: 2.01vw;
  left: 0.83vw;
}

.screen .view-7 {
  position: absolute;
  width: 0.9vw;
  height: 2.36vw;
  top: 0;
  left: 0;
}



.screen .text-wrapper-12 {
  width: 4.1vw;
  left: 0;
  position: absolute;
  top: -0.07vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-13 {
  width: 4.86vw;
  left: 33.06vw;
  position: absolute;
  top: -0.07vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-14 {
  width: 11.94vw;
  left: 18.33vw;
  position: absolute;
  top: -0.07vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-15 {
  width: 7.99vw;
  left: 40.69vw;
  position: absolute;
  top: -0.07vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-16 {
  width: 8.68vw;
  left: 6.88vw;
  position: absolute;
  top: -0.07vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .overlap-6 {
  position: absolute;
  width: 103.19vw;
  height: 48.61vw;
  top: 67.64vw;
  left: -9.24vw;
}



.screen .element {
  position: absolute;
  width: 87.08vw;
  height: 48.61vw;
  top: 0;
  left: 16.11vw;
}


.screen .view-9 {
  position: absolute;
  width: 44.86vw;
  height: 23.96vw;
  top: 16.18vw;
  left: 0;
}

.screen .text-wrapper-18 {
  position: absolute;
  width: 41.18vw;
  top: 0;
  left: 0;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-19 {
  position: absolute;
  width: 44.44vw;
  top: 10.76vw;
  left: 0;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-20 {
  position: absolute;
  width: 42.5vw;
  top: 19.1vw;
  left: 0;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .view-10 {
  position: relative;
  width: 24.31vw;
  height: 24.31vw;
  top: 0;

}

.screen .overlap-group-3 {
  position: relative;
  height: 24.31vw;
  border-radius: 12.15vw;
}



.screen .view-11 {
  position: absolute;
  width: 24.31vw;
  height: 24.31vw;
  top: 0;
  left: 0;
  border-radius: 12.15vw;
  border: 0.35vw solid;
  border-color: #985df5;
  filter: blur(3.47vw);
  opacity: 0.5;
}

.screen .img-wrapper {
  position: absolute;
  width: 24.31vw;
  height: 24.31vw;
  top: 24.31vw;
  left: 51.53vw;
  border-radius: 12.15vw;
  border: 0.35vw solid;
  border-color: #ccf51d99;
  filter: blur(3.47vw);
}



.screen .element-2 {
  position: absolute;
  width: 87.99vw;
  height: 73.89vw;
  top: 128.75vw;
  left: 6.04vw;
}

.screen .text-wrapper-21 {
  position: absolute;
  width: 31.67vw;
  top: 0;
  left: 0.9vw;
  font-family: "DaMiOne-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 3.47vw;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

/* начало блока почему мы */
.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0vw;
  box-sizing: border-box;
  margin-left: -5vw;
}

.feature-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0vw;
}

.feature-wrapper {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.feature-number-1,
.feature-number-2 {
  font-size: 24vw;
  position: relative;
  opacity: 0.3;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #000000;
  font-style: var(---font-style);
  filter: blur(0.17vw);
  z-index: 1;
}

.feature-number-1 {
  -webkit-text-stroke: 0.21vw #ccf51d;
}

.feature-number-2 {
  -webkit-text-stroke: 0.21vw #985df5;
}

.feature-border,
.feature-border-blur {
  display: none;
}

.feature-text-1,
.feature-text-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: 2vw;
  text-align: center;
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
  background-color: rgba(0, 0, 0, 0.5);
  width: 88%;
  padding: 2vw;
  border-radius: 0.5vw;
  border: 0.18vw solid;
  z-index: 2;
}

.feature-text-1 {
  border-color: #ccf51d;
  box-shadow: 0 0 15px #ccf51d;
}

.feature-text-2 {
  border-color: #985df5;
  box-shadow: 0 0 15px #985df5;
}

/* конец блока почему мы */


.screen .element-14 {
  position: absolute;
  width: 100.49vw;
  height: 244.24vw;
  top: 215.14vw;
  left: 0;
}

.screen .text-wrapper-30 {
  position: absolute;
  width: 44.93vw;
  top: 0;
  left: 6.94vw;
  font-family: "DaMiOne-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 3.47vw;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-15 {
  position: absolute;
  width: 100.35vw;
  height: 231.53vw;
  top: 12.71vw;
  left: 0;
}

.screen .element-16 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 0;
  left: 0;
}

.screen .overlap-group-5 {
  position: relative;
  width: 100vw;
  height: 25.9vw;
}

.screen .element-17 {
  position: absolute;
  width: 21.53vw;
  height: 11.81vw;
  top: 7.43vw;
  left: 0;
}

.screen .text-wrapper-31 {
  position: absolute;
  top: 4.51vw;
  left: 50.62vw;
  -webkit-text-stroke: 0.07vw #000000;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-32 {
  position: absolute;
  width: 45.35vw;
  top: 11.53vw;
  left: 41.88vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-18 {
  position: absolute;
  width: 100vw;
  height: 25.49vw;
  top: 0.42vw;
  left: 0;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(204, 245, 29), rgb(0, 0, 0)) 1;
}





.screen .element-21 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 29.38vw;
  left: 0;
}

.screen .element-22 {
  position: absolute;
  width: 25.62vw;
  height: 11.81vw;
  top: 7.43vw;
  left: 0;
}

.screen .text-wrapper-33 {
  position: absolute;
  top: 4.58vw;
  left: 60.07vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-34 {
  position: absolute;
  width: 47.5vw;
  top: 11.53vw;
  left: 41.81vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-23 {
  position: absolute;
  width: 100vw;
  height: 25.49vw;
  top: 0.42vw;
  left: 0;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(152, 93, 245), rgb(0, 0, 0)) 1;
}

.screen .element-24 {
  position: absolute;
  width: 100vw;
  height: 25.49vw;
  top: 0;
  left: 0;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  border-color: transparent;
  filter: blur(0.69vw);
  border-image: linear-gradient(to bottom, rgb(152, 93, 245), rgb(0, 0, 0)) 1;
}

.screen .element-25 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 58.75vw;
  left: 0;
}

.screen .element-26 {
  position: absolute;
  width: 27.71vw;
  height: 11.81vw;
  top: 7.43vw;
  left: 0;
}

.screen .text-wrapper-35 {
  position: absolute;
  top: 4.58vw;
  left: 52.01vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-36 {
  position: absolute;
  width: 49.79vw;
  top: 11.53vw;
  left: 41.88vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-27 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 88.12vw;
  left: 0;
}

.screen .text-wrapper-37 {
  position: absolute;
  top: 4.58vw;
  left: 54.86vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-28 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 117.5vw;
  left: 0;
}

.screen .element-29 {
  position: absolute;
  width: 25.69vw;
  height: 11.81vw;
  top: 7.43vw;
  left: 0;
}

.screen .text-wrapper-38 {
  position: absolute;
  top: 4.58vw;
  left: 54.93vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-30 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 146.88vw;
  left: 0.35vw;
}

.screen .overlap-9 {
  position: relative;
  width: 100.28vw;
  height: 25.9vw;
  left: -0.28vw;
}

.screen .element-31 {
  position: absolute;
  width: 27.99vw;
  height: 11.81vw;
  top: 7.43vw;
  left: 0;
}

.screen .text-wrapper-39 {
  position: absolute;
  top: 4.58vw;
  left: 56.11vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-40 {
  position: absolute;
  width: 49.79vw;
  top: 11.53vw;
  left: 41.81vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-32 {
  position: absolute;
  width: 100vw;
  height: 25.49vw;
  top: 0.42vw;
  left: 0.28vw;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(152, 93, 245), rgb(0, 0, 0)) 1;
}

.screen .element-33 {
  position: absolute;
  width: 100vw;
  height: 25.49vw;
  top: 0;
  left: 0.28vw;
  border-radius: 0.69vw;
  border: 0.14vw solid;
  border-color: transparent;
  filter: blur(0.69vw);
  border-image: linear-gradient(to bottom, rgb(152, 93, 245), rgb(0, 0, 0)) 1;
}

.screen .element-34 {
  position: absolute;
  width: 0.07vw;
  height: 25.42vw;
  top: 0.49vw;
  left: 31.74vw;
  object-fit: cover;
}

.screen .element-35 {
  position: absolute;
  width: 100.42vw;
  height: 25.9vw;
  top: 176.25vw;
  left: 0;
}



.screen .text-wrapper-41 {
  position: absolute;
  top: 4.58vw;
  left: 54.51vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-42 {
  position: absolute;
  width: 49.79vw;
  top: 11.53vw;
  left: 41.94vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .element-37 {
  position: absolute;
  width: 100.56vw;
  height: 25.9vw;
  top: 205.62vw;
  left: 0;
}

.screen .element-38 {
  position: absolute;
  width: 27.64vw;
  height: 11.88vw;
  top: 7.36vw;
  left: 0;
}

.screen .text-wrapper-43 {
  position: absolute;
  top: 4.58vw;
  left: 57.01vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}

.screen .text-wrapper-44 {
  position: absolute;
  top: 21.81vw;
  left: 41.88vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.67vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .element-39 {
  position: absolute;
  width: 86.39vw;
  height: 87.92vw;
  top: 471.88vw;
  left: 6.94vw;
}

.screen .text-wrapper-45 {
  position: absolute;
  width: 18.75vw;
  top: 0;
  left: 0.62vw;
  font-family: var(---font-family);
  font-weight: var(---font-weight);
  color: #ffffff;
  font-size: var(---font-size);
  white-space: nowrap;
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  font-style: var(---font-style);
}



.screen .element-40 {
  position: absolute;
  width: 61.53vw;
  height: 16.04vw;
  top: 0;
  left: 0;
}

.screen .view-13 {
  position: absolute;
  width: 24.38vw;
  height: 16.04vw;
  top: 0;
  left: 0;
}

.screen .overlap-group-6 {
  position: relative;
  height: 16.04vw;
}

.screen .view-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.01vw;
  padding: 3.19vw 6.46vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #101010;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: #ccf51d80;
  box-shadow: inset -0.83vw -0.9vw 0.69vw #00000040;
}

.screen .text-wrapper-46 {
  position: relative;
  width: fit-content;
  margin-top: -0.07vw;
  font-family: var(--1-font-family);
  font-weight: var(--1-font-weight);
  color: #ffffff;
  font-size: var(--1-font-size);
  letter-spacing: var(--1-letter-spacing);
  line-height: var(--1-line-height);
  font-style: var(--1-font-style);
}

.screen .text-wrapper-47 {
  position: relative;
  width: fit-content;
  font-size: var(--2-font-size);
  font-family: var(--2-font-family);
  font-weight: var(--2-font-weight);
  color: #ffffff;
  letter-spacing: var(--2-letter-spacing);
  line-height: var(--2-line-height);
  font-style: var(--2-font-style);
}

.screen .view-15 {
  position: absolute;
  width: 8.06vw;
  height: 8.06vw;
  top: 7.99vw;
  left: 16.32vw;
  opacity: 0.5;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------13@2x.png);
  background-size: 100% 100%;
}

.screen .image-4 {
  position: absolute;
  width: 4.24vw;
  height: 5.49vw;
  top: 0.97vw;
  left: 2.15vw;
}

.screen .overlap-wrapper-2 {
  position: absolute;
  width: 30.21vw;
  height: 16.04vw;
  top: 0;
  left: 31.32vw;
}

.screen .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.01vw;
  padding: 3.19vw 6.46vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: #985df5;
  box-shadow: inset -0.83vw -0.9vw 0.69vw #00000040;
}

.screen .view-16 {
  position: absolute;
  width: 8.06vw;
  height: 8.06vw;
  top: 7.99vw;
  left: 22.15vw;
  opacity: 0.5;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------13@2x.png);
  background-size: 100% 100%;
}

.screen .element-41 {
  position: absolute;
  width: 69.17vw;
  height: 16.04vw;
  top: 22.99vw;
  left: 17.08vw;
}

.screen .overlap-group-wrapper-2 {
  position: absolute;
  width: 30.21vw;
  height: 16.04vw;
  top: 0;
  left: 38.96vw;
}

.screen .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2.01vw;
  padding: 3.19vw 6.46vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  border-radius: 0.69vw;
  border: 0.07vw solid;
  border-color: #ccf51d80;
  box-shadow: inset -0.83vw -0.9vw 0.69vw #00000040;
}

.screen .text-wrapper-48 {
  position: relative;
  width: fit-content;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.67vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .view-17 {
  position: absolute;
  width: 8.06vw;
  height: 8.06vw;
  top: 7.99vw;
  left: 22.15vw;
  opacity: 0.5;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------15@2x.png);
  background-size: 100% 100%;
}

.screen .overlap-wrapper-3 {
  position: absolute;
  width: 32.01vw;
  height: 16.04vw;
  top: 0;
  left: 0;
}

.screen .view-18 {
  position: absolute;
  width: 8.06vw;
  height: 8.06vw;
  top: 7.99vw;
  left: 23.96vw;
  opacity: 0.5;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------15@2x.png);
  background-size: 100% 100%;
}

.screen .element-42 {
  position: absolute;
  width: 84.72vw;
  height: 16.04vw;
  top: 45.97vw;
  left: 0;
}

.screen .overlap-group-wrapper-3 {
  position: absolute;
  width: 35.97vw;
  height: 16.04vw;
  top: 0;
  left: 0;
}

.screen .view-19 {
  position: absolute;
  width: 8.06vw;
  height: 8.06vw;
  top: 7.99vw;
  left: 27.92vw;
  opacity: 0.5;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------15@2x.png);
  background-size: 100% 100%;
}

.screen .image-5 {
  position: absolute;
  width: 4.24vw;
  height: 5.49vw;
  top: 0.9vw;
  left: 2.15vw;
}

.screen .view-20 {
  position: absolute;
  width: 41.81vw;
  height: 16.04vw;
  top: 0;
  left: 42.92vw;
}

.screen .view-21 {
  position: absolute;
  width: 8.06vw;
  height: 8.06vw;
  top: 7.99vw;
  left: 33.75vw;
  opacity: 0.5;
  background-image: url(https://cdn.animaapp.com/projects/669be4ad2a53cf7267d098a2/releases/66a2b938c8236f0e9a225184/img/-----------15@2x.png);
  background-size: 100% 100%;
}

.footer {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 2vh;
  position: relative;
}

.footer-block {
  position: relative;
  height: 29.38vw;
  left: 0;
}

.footer-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer-border {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px #ccf51d;
}

.footer-border::before,
.footer-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
}

.footer-border::before {
  top: 0;
  left: 0;
  border: 0.07vw solid;
  border-image: linear-gradient(to bottom, rgb(204, 245, 29), rgb(0, 0, 0)) 1;
  z-index: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1;
}

.footer-border::after {
  top: 0;
  left: 0;
  border: 0.07vw solid rgb(204, 245, 29);
  z-index: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 2vw;
  padding: 20vw;
  border-radius: 15px;
}

.footer-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(0.69vw);
  border-radius: 15px;
  border: 0.14vw solid;
}

.contact-info,
.social-media,
.footer-links {
  position: relative;
  z-index: 2;
}

.screen .contact-info {
  position: absolute;
  width: 100%;
  height: 5.14vw;
  top: 20.07vw;
  left: 0;
}

.screen .contact-ksenia {
  position: absolute;
  width: 25.49vw;
  height: 5.14vw;
  top: 0;
  right: 6.94vw;
}

.screen .contact-text-1 {
  position: absolute;
  top: 0;
  left: 3.26vw;
  font-size: 1.81vw;
  text-align: right;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.screen .contact-text-1 a {
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke: 0.01vw #ffffff;
}

.screen .telegram-link {
  text-align: right;
  position: absolute;
  top: 2.92vw;
  left: 0;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.81vw;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
}


.screen .telegram-label {
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.81vw;
  letter-spacing: 0;
  margin-left: -0.6vw;
}

.screen .telegram-label-1 {
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.81vw;
  letter-spacing: 0;
}

.screen .telegram-username {
  color: #ffffff;
  text-decoration: underline;
}

.screen .contact-dmitry {
  position: absolute;
  width: 23.75vw;
  height: 5.14vw;
  top: 0;
  left: 6.94vw;
}

.screen .contact-text-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.81vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
  cursor: pointer;
}

.screen .contact-text-2 a {
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke: 0.01vw #ffffff;
}

.screen .telegram-link-1 {
  position: absolute;
  top: 2.92vw;
  left: 0;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.81vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .social-media {
  position: absolute;
  width: 100%;
  height: 3.26vw;
  top: 4.17vw;

}

.screen .icon {
  position: absolute;
  width: 0.83vw;
  height: 2.36vw;
  top: 0;
  left: 0.21vw;
}

.screen .icon-set {
  position: absolute;
  width: 0.83vw;
  height: 2.36vw;
  top: 0;
  left: 0;
}

.screen .social-icon-img-1 {
  position: absolute;
  width: 3.06vw;
  height: 3.06vw;
  top: 0.07vw;
  right: 7.36vw;
  cursor: pointer;
}

.screen .social-icon-img-2 {
  position: absolute;
  width: 3.19vw;
  height: 3.19vw;
  top: 0.07vw;
  right: 3.19vw;
  cursor: pointer;
}

.screen .footer-links {
  position: absolute;
  width: 46.32vw;
  height: 5.28vw;
  top: 4.17vw;
  left: 24.44vw;
}

.screen .footer-link-1 {
  position: absolute;
  top: -0.07vw;
  left: 0;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .footer-link-2 {
  position: absolute;
  top: 0;
  left: 17.5vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .footer-link-3 {
  position: absolute;
  top: 3.4vw;
  left: 0;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .footer-link-4 {
  position: absolute;
  top: 3.47vw;
  left: 17.5vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .footer-link-5 {
  position: absolute;
  top: 0;
  left: 35.07vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.39vw;
  letter-spacing: 0;
  line-height: normal;
}

.screen .contact-number {
  position: absolute;
  top: 3.47vw;
  left: 35.07vw;
  -webkit-text-stroke: 0.01vw #ffffff;
  font-size: 1.39vw;
  font-family: "Actay-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
  cursor: pointer;
}

.screen .contact-number a {
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke: 0.01vw #ffffff;
}